<div>
  <div class="flex justify-end">
    <div>
      <div class="text-xs">Choose a year</div>
      <select
        name=""
        id=""
        class="bg-[#EFF1F999] rounded w-64 px-3 py-2 focus:outline-none focus:border focus:border-[#ABAFB1]"
      >
        <option class="text-[#ABAFB1]">FY2023</option>
      </select>
    </div>
  </div>

  <div class="xl:grid grid-cols-7 gap-4 mt-8">
    <div class="col-span-4 mb-4 bg-[#FCF5EB] px-4 py-8 rounded-lg shadow-lg xl:h-48">
      <div class="text-[#374151]">Impact Breakdown</div>
      <div class="mt-4 grid xl:grid-cols-3">
        <div class="border-r-2 border-[#CFA16C] mb-4">
          <div class="flex gap-2 items-center justify-center xl:justify-start">
            <div class="text-[#5E896E] text-xs">Total emission</div>
            <div
              class="text-xs bg-[#DEF7EC] rounded-lg px-2 py-1 flex items-center justify-between"
            >
              <div class="text-[#03543F]">+1.5%</div>
              <div><img src="/assets/svgs/trending-down.svg" alt="" /></div>
            </div>
          </div>
          <div
            class="text-[#5E896E] text-base font-medium mt-2 text-center xl:text-start"
          >
            35,000 kgCO2e
          </div>
        </div>
        <div class="border-r-2 border-[#CFA16C] mb-4">
          <div class="flex gap-2 items-center justify-center">
            <div class="text-[#5E896E] text-xs">Total offsets</div>
            <div
              class="text-xs bg-[#FBD5D5] rounded-lg px-2 py-1 flex items-center justify-between"
            >
              <div class="text-[#9B1C1C]">+1.5%</div>
              <div><img src="/assets/svgs/trending-up.svg" alt="" /></div>
            </div>
          </div>
          <div class="text-[#5E896E] text-base text-center font-medium mt-2">
            2,000 kgCO2e
          </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="text-[#5E896E] text-xs">Total project</div>
          <div class="text-[#5E896E] text-base font-medium mt-2">4</div>
        </div>
      </div>
    </div>
    <div class="col-span-3 bg-[#5E896E] px-4 py-6 rounded-lg shadow-lg xl:h-48">
      <div class="flex justify-end">
        <div><img src="/assets/svgs/information-circle.svg" alt="" /></div>
      </div>
      <div class="mt-4 text-[#fff] text-sm font-medium">Recommendations</div>
      <div class="mt-2 text-[#fff] text-sm">
        To obtain your Net Contributor Certificate, Peercarbon recommends
        offsetting at least 5% of your residual emisssions.
      </div>
    </div>
  </div>
</div>
