<div>
  <app-add-data></app-add-data>
  <!-- Top Section -->
  <div class="mt-8 bg-[#E4FCE6] px-16 py-8 rounded-lg" *ngIf="!confirmModal">
    <div class="text-lg font-bold">Fleet Emissions</div>
    <div class="mt-8 text-sm text-[#1F2937]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      laboriosam facilis vero cumque temporibus, molestias asperiores cupiditate
      sit repellat aliquam enim! Accusantium eum error sit. Quos ab obcaecati
      rerum esse.
    </div>
    <div
      class="mt-8 flex gap-3 hover:cursor-pointer"
      (click)="toggleView('guide')"
    >
      <div class="text-[#5E896E] text-sm">>></div>
      <div class="text-[#5E896E] text-sm hover:underline">View Guides</div>
    </div>
    <div *ngIf="guidesActive" @fadeInOut>
      <div *ngFor="let guide of guides">
        <div class="flex gap-3 px-16 py-2">
          <img src="/assets/svgs/Leaf.svg" alt="" />
          <div>{{ guide }}</div>
        </div>
      </div>
    </div>
    <div class="mt-8">
      <form [formGroup]="fleetFormGroup" (submit)="prepareConfirmObj()">
        <div class="mb-4 gap-8">
          <div
            class="flex items-center gap-4 px-4 py-2 border border-[#CFD3D4] rounded-lg w-full"
          >
            <div>
              <mat-icon>date_range</mat-icon>
            </div>
            <div>
              <div class="text-xm text-[#CFD3D4]">Date</div>
              <input
                type="date"
                class="date-input border-none focus:outline-none text-[#CFD3D4] placeholder:text-xs bg-[#E4FCE6] w-full"
              />
            </div>
          </div>
        </div>
        <div class="mb-4 md:grid md:grid-cols-3 lg:grid-cols-3 gap-8">
          <div>
            <div class="text-sm text-[#1F2937]">Fleet Type</div>
            <div class="mt-2">
              <div
                class="flex justify-between px-4 py-2 border border-[#CFD3D4] rounded hover:cursor-pointer items-center text-sm w-full"
                (click)="toggleView('fleet_type')"
              >
                <div class="text-[#ABAFB1]">
                  {{ selectedFleetType }}
                </div>
                <div><mat-icon>arrow_drop_down</mat-icon></div>
              </div>
              <div
                class="px-4 py-2 bg-[#ffffff] mt-4 max-h-40 overflow-y-scroll"
                *ngIf="fleetTypeActive"
                @fadeInOut
              >
                <ul *ngFor="let fleetType of fleetTypes; let idx = index">
                  <li
                    class="hover:bg-[#5E896E] hover:cursor-pointer hover:text-[#ffffff] rounded px-3 py-2 w-full"
                    (click)="submitFleetType(idx)"
                  >
                    {{ fleetType }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class="text-sm text-[#1F2937]">Fleet Name</div>
            <div class="mt-2">
              <div
                class="flex justify-between px-4 py-2 border border-[#CFD3D4] rounded hover:cursor-pointer items-center text-sm w-full"
                (click)="toggleView('fleet_name')"
              >
                <div class="text-[#ABAFB1]">
                  {{ selectedFleetName }}
                </div>
                <div><mat-icon>arrow_drop_down</mat-icon></div>
              </div>
              <div
                class="px-4 py-2 bg-[#ffffff] mt-4 max-h-40 overflow-y-scroll"
                *ngIf="fleetNameActive"
                @fadeInOut
              >
                <ul *ngFor="let fleetName of fleetNames; let idx = index">
                  <li
                    class="hover:bg-[#5E896E] hover:cursor-pointer hover:text-[#ffffff] rounded px-3 py-2 w-full"
                    (click)="submitFleetName(idx)"
                  >
                    {{ fleetName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="text-sm text-[#1F2937]">Fleet Category</div>
            <div class="mt-2">
              <div
                class="flex justify-between px-4 py-2 border border-[#CFD3D4] rounded-lg hover:cursor-pointer items-center text-sm w-full"
                (click)="toggleView('fleet_category')"
              >
                <div class="text-[#ABAFB1]">
                  {{ selectedFleetCategory }}
                </div>
                <div><mat-icon>arrow_drop_down</mat-icon></div>
              </div>
              <div
                class="px-4 py-2 bg-[#ffffff] mt-4 max-h-40 overflow-y-scroll"
                *ngIf="fleetCategoryActive"
                @fadeInOut
              >
                <ul *ngFor="let fleetCategory of fleetCategories; let idx = index">
                  <li
                    class="hover:bg-[#5E896E] hover:cursor-pointer hover:text-[#ffffff] rounded-lg px-3 py-2 w-full"
                    (click)="submitFleetCategory(idx)"
                  >
                    {{ fleetCategory }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="mt-1 text-xs text-[#d90429]" *ngIf="!selectedFleetCategory && fleetCategoryTouched">
              *Field is required
            </div>
          </div>
        </div>
        <div
          class="mb-4 md:grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-8"
        >
          <div>
            <div class="text-sm text-[#1F2937]">Fleet Weight</div>
            <div class="mt-2">
              <div
                class="flex justify-between px-4 py-2 border border-[#CFD3D4] rounded hover:cursor-pointer items-center text-sm w-full"
                (click)="toggleView('fleet_weight')"
              >
                <div class="text-[#ABAFB1]">
                  {{ selectedFleetWeight }}
                </div>
                <div><mat-icon>arrow_drop_down</mat-icon></div>
              </div>
              <div
                class="px-4 py-2 bg-[#ffffff] mt-4 max-h-40 overflow-y-scroll"
                *ngIf="fleetWeightActive"
                @fadeInOut
              >
                <ul *ngFor="let fleetWeight of fleetWeights; let idx = index">
                  <li
                    class="hover:bg-[#5E896E] hover:cursor-pointer hover:text-[#ffffff] rounded px-3 py-2 w-full"
                    (click)="submitFleetWeight(idx)"
                  >
                    {{ fleetWeight }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class="text-sm text-[#1F2937]">Fuel Type</div>
            <div class="mt-2">
              <div
                class="flex justify-between px-4 py-2 border border-[#CFD3D4] rounded-lg hover:cursor-pointer items-center text-sm w-full"
                (click)="toggleView('fuel_type')"
              >
                <div class="text-[#ABAFB1]">
                  {{ selectedFuelType }}
                </div>
                <div><mat-icon>arrow_drop_down</mat-icon></div>
              </div>
              <div
                class="px-4 py-2 bg-[#ffffff] mt-4 max-h-40 overflow-y-scroll"
                *ngIf="fuelTypeActive"
                @fadeInOut
              >
                <ul *ngFor="let fuelType of fuelTypes; let idx = index">
                  <li
                    class="hover:bg-[#5E896E] hover:cursor-pointer hover:text-[#ffffff] rounded-lg px-3 py-2 w-full"
                    (click)="submitFuelType(idx)"
                  >
                    {{ fuelType }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="mt-1 text-xs text-[#d90429]" *ngIf="!selectedFuelType && fuelTypeTouched">
              *Field is required
            </div>
          </div>
          <div class="mb-4">
            <div class="text-sm text-[#1F2937]">Fuel Unit</div>
            <div class="mt-2">
              <div
                class="flex justify-between px-4 py-2 border border-[#CFD3D4] rounded-lg hover:cursor-pointer items-center text-sm w-full"
                (click)="toggleView('fuel_unit')"
              >
                <div class="text-[#ABAFB1]">
                  {{ selectedFuelUnit }}
                </div>
                <div><mat-icon>arrow_drop_down</mat-icon></div>
              </div>
              <div
                class="px-4 py-2 bg-[#ffffff] mt-4 max-h-40 overflow-y-scroll"
                *ngIf="fuelUnitActive"
                @fadeInOut
              >
                <ul *ngFor="let fuelUnit of fuelUnits; let idx = index">
                  <li
                    class="hover:bg-[#5E896E] hover:cursor-pointer hover:text-[#ffffff] rounded-lg px-3 py-2 w-full"
                    (click)="submitFuelUnit(idx)"
                  >
                    {{ fuelUnit }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="mt-1 text-xs text-[#d90429]" *ngIf="!selectedFuelUnit && fuelUnitTouched">
              *Field is required
            </div>
          </div>
          <div class="mb-4">
            <div class="text-sm text-[#1F2937]">Fuel Amount</div>
            <div class="mt-2">
              <input
                type="number"
                class="px-4 py-3 border border-[#CFD3D4] rounded-lg text-sm w-full focus:outline-none bg-[#E4FCE6] text-[#1F2937]"
                formControlName="fuelAmount"
                required
              />              
            </div>
          </div>
        </div>
        <div class="flex justify-end gap-4 items-center mt-8">
          <div>
            <button
              *ngIf="isLoading"
              class="border border-[#CFD3D4] bg-[#5E896E] px-4 py-2 rounded-lg flex items-center justify-center gap-3 text-[#ffffff] h-12 w-32"
            >
              <app-loader></app-loader>
            </button>
            <button
              *ngIf="!isLoading"
              class="border border-[#CFD3D4] bg-[#5E896E] px-4 py-2 rounded-lg flex items-center gap-3 text-[#ffffff]"
              type="submit"
            >
              <mat-icon>check</mat-icon>
              Continue
            </button>
          </div>
          <div>
            <button
              class="border border-[#5E896E] px-4 py-2 rounded-lg flex items-center gap-3 text-[#5E896E]"
              (click)="cancel()"
            >
              <mat-icon>close</mat-icon>
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="confirmModal">
    <div class="bg-[#fff] px-16 py-8 rounded-lg shadow-lg mt-8 xl:w-[60rem]">
      <div class="text-lg font-bold">Confirm Accounting Data</div>
      <div class="mt-4 bg-[#5E896E] px-4 py-3 grid grid-cols-2">
        <div class="text-[#fff] text-xs">Field</div>
        <div class="text-[#fff] text-xs">Value</div>
      </div>
      <div *ngFor="let detail of confirmDetails">
        <div class="bg-[#F9FAFB] px-4 py-3">
          <div class="text-[#000] text-sm font-medium">
            {{ detail.title | titlecase }}
          </div>
        </div>
        <div *ngFor="let item of detail.items">
          <div class="px-4 py-3 grid grid-cols-2">
            <div class="text-xs">{{ item.field | titlecase }}</div>
            <div class="text-xs">{{ item.value }}</div>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-4 items-center mt-8">
        <div>
          <button
            *ngIf="isLoading"
            class="border border-[#CFD3D4] bg-[#5E896E] px-4 py-2 rounded-lg flex items-center justify-center gap-3 text-[#ffffff] h-12 w-32"
          >
            <app-loader></app-loader>
          </button>
          <button
            *ngIf="!isLoading"
            class="border border-[#CFD3D4] bg-[#5E896E] px-4 py-2 rounded-lg flex items-center gap-3 text-[#ffffff]"
            (click)="submitAllFields()"
          >
            <mat-icon>check</mat-icon>
            Confirm
          </button>
        </div>
        <div>
          <button
            class="border border-[#5E896E] px-4 py-2 rounded-lg flex items-center gap-3 text-[#5E896E]"
            (click)="edit()"
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
