
<div class="mx-auto">
    <div class="flex flex-col">
      <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <div class="inline-block max-w-full align-middle">
          <div class="overflow-hidden">
            <table class="max-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
              <thead class="bg-[#62B846] text-white">
                <tr class="text-center">
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    VEHICLE MAKE
                  </th>
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    VEHICLE MODEL
                  </th>
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    COUNTRY
                  </th>
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    REGISTRATION NUMBER
                  </th>
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    ENGINE CAPACITY
                  </th>
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    FUEL TYPE
                  </th>
                  <th
                    scope="col"
                    class="py-3 px-6 text-xs font-medium tracking-wider text-center text-white uppercase"
                  >
                    DATE
                  </th>
                </tr>
              </thead>
              <tbody
                class="bg-white divide-y divide-gray-400 dark:divide-black-500"
                *ngFor="let vehicle of vehicles"
              >
                <tr class="hover:bg-gray-100 dark:hover:bg-gray-300">
                  <td
                    class="py-4 px-6 text-sm font-medium text-center text-gray-900 whitespace-nowrap"
                  >
                    {{ vehicle.make }}
                  </td>
                  <td
                    class="py-4 px-6 text-sm font-medium text-center text-gray-900 whitespace-nowrap"
                  >
                    {{ vehicle.model }}
                  </td>
                  <td
                    class="py-4 px-6 text-sm font-medium text-center text-gray-900 whitespace-nowrap"
                  >
                    {{ vehicle.country }}
                  </td>
                  <td
                    class="py-4 px-6 text-sm font-medium text-center text-gray-900 whitespace-nowrap"
                  >
                    {{ vehicle.regNO }}
                  </td>
                  <td
                    class="py-4 px-6 text-sm font-medium text-center whitespace-nowrap"
                  >
                    {{ vehicle.capacity }}
                  </td>
                  <td
                    class="py-4 px-6 text-sm font-medium text-center whitespace-nowrap"
                  >
                    {{ vehicle.fuel }}
                  </td>
                  <td
                    class="py-4 px-6 text-sm font-medium text-center whitespace-nowrap"
                  >
                    {{ vehicle.date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
