<div class="footer">

  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto">

    <div class="right">
      <div class="sec-onE">

      <div class="footer-contact">
        <img src="../../../assets/images/Group 1.png">
      </div>

      <div class="text">
        <div class="text-one">We are leading the charge is the integration of blockchain into emissions tracking and supply chain management. Our solutions seamlessly connect, exchange, and comprehend emissions data.</div>
      </div>

     </div>
    </div>

    <div class="left mx-auto md:mx-0 text-center">
      <div class="grid  md:grid-cols-3 grid-cols-2  justify-center md:justify-between">

        <div class="sec-twO">
          <div class="linkS text-left">
            <div class="first" routerLink="#">Company</div>
            <a routerLink="#">About</a> <br>
            <a routerLink="#">Privacy & Security</a> <br>
            <a routerLink="#" class="hidden md:hidden-none">Blogs</a>
          </div>  
          
        </div>
    
    
        <div class="sec-threE text-left">
          <div class="linkS">
            <div class="first" routerLink="#">Product</div>
            <a routerLink="#">About SaasTAIN</a> <br>
            <a routerLink="#">Features</a> <br>
            <a routerLink="#">Pricing</a> <br>
            <a routerLink="#">FAQ'S</a>
          </div>
    
      </div>
    
        <div class="centeR text-left">
          <div class="linkS">
            <div class="first" routerLink="#">Help Centre</div>
            <a routerLink="#">Support</a> <br>
            <a routerLink="#" class="hidden md:hidden-none">Community</a> <br>
            <a routerLink="#" class="hidden md:hidden-none">Knowledge Base</a>
          </div>
    
        </div>
    
        </div>
    
        <div class="wrap">
          <div class="phone top">
            <mat-icon class="icon">phone</mat-icon>
            <a href="tel:+254702139406" class="text">+254 702 139 406</a>
          </div>
      
          <div class="phone">
            <mat-icon class="icon">mail</mat-icon>
            <a href="mail:info@peercarbon.earth" class="text">info@peercarbon.earth</a>
          </div>
                
          <div class="phone">
            <i class="fa-solid fa-location-dot icon"></i> 
            <div class="text">Nairobi Garage, Westland's - Nairobi</div>
          </div>
      
        </div>
    </div>
  
  </div>
    
  <div class="space">Copyright 2023 ©  Peer Carbon. All Rights Reserved</div>

</div>
