
<div class="integration-naV">

   <div class="integration-naV1">

        <h1 class="integration-H1">Integration</h1>

        <p class="integration-P1">Add and manage Peercarbon API connections to your fuel retailer's Fuel Card and Telematics for accurate emissions input data.</p>
    
    <div class="button-roW">

        <button class="buttoN">All</button>

        <button class="search-buttoN"><img class="image-icoN" src="/assets/images/search.svg" alt="search"/>Fuel Cards API</button>

        <button class="buttoN"><img class="image-icoN" src="/assets/images/share.svg" alt="share"/>Telematics</button>

        <button class="buttoN"><img class="image-icoN" src="/assets/images/play_button.svg" alt="play_button"/>Manual Data</button>

    </div>
    
   </div>

</div>

