  <div class="bg-imagE md:grid lg:grid  xl:grid grid-cols-2 xl:py-16">
    <div class="lefT items-center justify-center">
      <img class="login-logO" src="/assets/images/saaslogo.png">
      <div class="login-texT">Saastain goes beyond conventional solutions, empowering you to not only navigate the complexities of emissions tracking but also to drive sustainable growth.</div>
    </div>
    <div class="righT">
      <div class="explaineR">Choose a New Password for Your Account.</div>
      <form
      class="forM"
      autocomplete="off"
      [formGroup]="createPasswordFormGroup">
      <div class="inpuT">
        <div class="sociaL onE">
          <img src="/assets/images/Lock.png">
        </div>
        <div class="fielD twO">
          <div class="labeL ">Password</div>
          <input type="password" formControlName="password" class="inneR " placeholder="********" />
        </div>
      </div>
        <div class="passworD">
          <div
            class="buttoN"
            (click)="validateRegisterFormGroup()"
            *ngIf="!isLoading"
          >
            Save New Password
          </div>
          <div class="loadeR" *ngIf="isLoading">
            <div class="loader-componenT">
                <app-loader></app-loader>
            </div>
          </div>
        </div>
        <div class="sign-uP">Have Account? <a routerLink="/auth" class="linK">Sign In</a></div>
      </form>
    </div>
  </div>
  