<div class="p-10 w-11/12">
  <div class="text-2xl font-extrabold my-4">Intergrations</div>
  <div class="text-base font-base my-4 color_greY">
    Add and manage Peercarbon API connections to your fuel retailer's Fuel Card
    and Telematics for accurate emissions input data.
  </div>
  <div class="flex gap-6">
    <a routerLink="/integration"
      class="inline-flex items-center px-8 py-2 bg-[#FFFFFF] text-[#000000] text-sm font-medium rounded-2xl"
    >
      All
    </a>

    <a routerLink="/integration/fuel-cards"
      class="inline-flex items-center px-8 py-2 text-black text-sm font-medium rounded-2xl border border-black"
    >
      <img src="/assets/images/search-icon.svg" class="icoN" />
      Fuel Cards API
    </a>

    <a routerLink="/integration/telematics"
      class="inline-flex items-center px-8 py-2 text-black text-sm font-medium rounded-2xl border border-black"
    >
 
      <img src="/assets/images/share.svg" class="icoN" />
      Telematics
    </a>

    <a routerLink="/integration/manual-data"
      class="inline-flex items-center px-8 py-2 bg-[#34B206] text-black text-sm font-medium rounded-2xl border border-black"
    >
      <img src="/assets/images/play-icon.svg" class="icoN" />
      Manual Data
    </a>
  </div>
    <div class="manualdatA">
      <div class="download-imagE">
        <p>Download Vehicle Details Excel Template</p>
        <a href="#" class="manualdatabuttoN"><i class="fa-solid fa-download"></i> Download</a>
      </div>
    
      <div class="upload-vehiclE">
        <p>Upload Vehicle Details Excel Template</p>
        <a href="#" class="manualdatabuttoN">
          <i class="fa-solid fa-upload"></i>
          Vehicle Details Excel File
        </a>
      </div>
    </div>
</div>