.parent-wrappeR {
    width: 100%;
}
.manualdatA{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    max-width: 100%;

    & .manualdatabuttoN {
        color: white !important;
        background-color: green;
        padding: 10px 65px;
        width: 100%;
        border-radius: 10px;
    }
}
.icoN {        
    width: 2rem;        
    cursor: pointer;
    padding-right: 6px;
    padding-left: 6px;
    background: transparent;
  }