.navbar-containeR {
  border-bottom: 1px solid var(--cool-gray-200, #E5E7EB);;
  background-color: #fff;
  // z-index: 1000;
  display: flex;
  gap: 680px;
  padding-left: 20px;
  justify-content: centre;
  align-items: center;
  height: 86px;
}


.flex{
  display: flex;
  gap: 20px;
}

input{
  outline: none;
  background: var(--cool-gray-050, #F9FAFB);
}

.inner-fleX{
  display: flex;
  gap:10px;
  width: 402px;
  height: 45px;
  padding: 13px 15px;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--cool-gray-200, #E5E7EB);
  background: var(--cool-gray-050, #F9FAFB);
}


.user-profilE {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 10px;
  justify-content: center;
  float: right;  
  padding-right: 1rem;
}

