<div class="impact-wrappeR">
    <div class="impact-containeR">
       
        <div class="impact-iteM line">
            <div class="impact-texT">
                <p>Total Emission<p>
                <p class="kill">100 <span>tCO2e</span></p>
            </div>
        </div>
        <div class="impact-iteM line">
            <div class="impact-texT">
                <p>Your Offset<p>
                <p class="kill">7 <span>tCO2e</span></p>
            </div>
        </div>
        
        <div class="impact-iteM">          
                <div class="impact-texT">
                <p>Your Reduction</p>
                <p class="kill">10 <span>tCO2e</span></p>
            </div>
        </div>

        </div>
    </div>