<div class="carD">
  <div class="iconS">
    <div class="icoN">
      <i class="fa fa-files-o" aria-hidden="true"></i>
    </div>

    <div class="icoN">
      <i class="fa-regular fa-ellipsis-stroke"></i>
    </div>
  </div>

  <div class="contenT">
    <div class="texT">Emission Analysis <span>24 Files</span></div>

    <div class="profileS">
      <div class="image-onE">
        <img src="/assets/images/Rectangle 3876.png" />
      </div>

      <div class="image-twO">
        <img src="/assets/images/Rectangle 3878.png" />
      </div>

      <div class="image-twO">
        <img src="/assets/images/Rectangle 3877.png" />
      </div>
    </div>
  </div>
</div>