<div class="containeR">
    <div class="lefT">
        <div class="toP">{{branch.name}}</div>
        <div class="dowN">{{branch.division}}</div>
    </div>
    <div class="centeR">
        <mat-icon>add</mat-icon>
    </div>
    <div class="righT">
        <div class="profileS">
            <div class="image-onE">
              <img src="{{branch.image1}}" />
            </div>
      
            <div class="image-twO">
              <img src="{{branch.image2}}" />
            </div>
      
            <div class="image-twO">
              <img src="{{branch.image3}}" />
            </div>
        </div>
    </div>
</div>