.containeR{
    margin: 2% 0;
    display: flex;
    width: 906px;
    padding: 11px 103px;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    background: var(--neutral-2, #000);
}

.toP{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.dowN{
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.centeR mat-icon{
    color:  #34B206;
}

.profileS{

    display: flex;
}

.image-twO{

    margin-left: -10%;
    
}