<div class="containeR">
    <div class="heaD">Order Details</div>
      <div class="parent-wraP">
        <div class="order-containeR">
            <div class="order-wrappeR">
                <div class="order-titlE">
                    <h2>Professional<span class="spanneD">Plan</span></h2>
                    </div>
                        <div class="subscription-detaiL">
                            <div class="subscriptionplaN">
                                <p>Subscription</p>
                                <p>$29.00</p>
                            </div>
                            <div class="subscriptionplaN">
                                <p>VAT/GST/SALES Taxes(16%)</p>
                                <p>$2.78</p>
                            </div>
                          <hr class="line1">
                            <div class="subscriptionplaN">
                                <p class="subscriptionP">Total</p>
                                <p class="subscriptionP">$31.78</p>
                            </div>
                        </div>
                        <button class="subscriptionbuttoN" type="button">Confirm Payment</button>
                        <div class="subscriptionPar">
                        <p>Your subscription will renew automatically every year as one payment of 125.28 EUR. Canel it anytime from your subscription settings. By clicking "Confirm and pay" you agree to the <a  class="subscriptionP">Terms and Conditions.</a></p>
                        </div>
            </div>
        </div>
      </div>  
</div>  