<div class="containeR">

    <div class="peer-logO">

        <img src="/assets/images/peer_carbon_logo-removebg-preview.png">

    </div>

    <div class="welcome-phrasE"> Welcome back, Simon</div>

    <div class="intrO"> Accelerate your green impact</div>

    <div class="text-centeR">
        You didn't finish the sign up process, Do so to access the dashboard 
    </div>

    <div class="btn-logiN"> 

        <div class="logiN"> <a routerLink="/auth/create-account">Register Company</a></div>

    </div>

</div>