<div class="user-top-containeR">
  <div class="user-top-navbaR">
    <div class="logo-title-containeR">
      <img src="/assets/images/total.svg" alt="Logo" class="user-top-logO" />
      <div class="user-top-titlE">Total Energies Ltd</div>
    </div>

    <div class="mt-6 flex gap-6">
      <div
        class="flex gap-4 items-center bg-black rounded-lg text-white font-medium px-6 py-2"
      >
        <div>
          <img src="/assets/svgs/expand-icons.svg" alt="" />
        </div>
        <div>Expand all</div>
      </div>
      <div
        class="flex gap-4 items-center bg-black rounded-lg text-white font-medium px-6 py-2"
      >
        <div>
          <img src="/assets/svgs/collapse-icons.svg" alt="" />
        </div>
        <div>Collapse all</div>
      </div>
      <div>
        <input
          type="text"
          class="border border-black rounded-lg px-6 py-2 bg-transparent focus:outline-none placeholder:text-black focus:border-[#34B206]"
          placeholder="Type of Search"
        />
      </div>
    </div>
  </div>
</div>
