<div class="container grid grid-cols-2 gap-[20px] mx-6 my-12 py-[100px] px-[50px] bg-[#fff] rounded-[16px] shadow-md">
    <div class="left-text flex flex-col gap-[13px]">
        <div class="header text-[#A7B3A7] text-[18px] font-[700] leading-[150%]">COMING SOON</div>
        <div class="title text-[#000] text-[30px] font-[700] leading-[150%]">Get notified when we launch</div>
        <div class="text-[#374151] text-[18px] font-[400] leading-[150%]">This page is currently under construction.
            Be the first to experience it! Join the waiting list for exclusive access.</div>
        <button class="bg-[#5E896E] w-4/12 rounded-[8px] py-[17px] px-[16px] text-[#fff] text-[18px] font-[600] leading-[150%]">Notify Me!</button>
    </div>
    <div class="right-img animate-pulse">
        <img src="/assets/images/Eco Data Not found.png" alt="404 not found">
    </div>
</div>