<div class="bg-white">
  <div class="text-center partner  text-[18px] text-[#123726] font-[700]">
    Our Partners
  </div>
  <div class="logos">
    <div class="logos-slide">
      <img src="assets/images/landing/icc.svg" />
      <img src="assets/images/landing/dtb.svg" />
      <img src="assets/images/landing/total.svg" />
      <img src="assets/images/landing/patch.svg" />
      <img src="assets/images/landing/science.svg" />
      <img src="assets/images/landing/green.svg" />

      <img src="assets/images/landing/icc.svg" />
      <img src="assets/images/landing/dtb.svg" />
      <img src="assets/images/landing/total.svg" />
      <img src="assets/images/landing/patch.svg" />
      <img src="assets/images/landing/science.svg" />
      <img src="assets/images/landing/green.svg" />
    </div>
  </div>
</div>
