<div class="containeR">

    <div class="top-seC">

        <div class ="header-texT">Choose Your Subscription Plan</div>


        <div class="top-texT">Select one of the business goal-specific packages
            and start managing your fleet's emissions</div>

    </div>

    <div class="sub-tabS">
  
        <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />

        <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
    
        <div class="tabs flex-tabs">

            <div class="labels">

                <label for="tab-one" id="tab-one-label" class="tab">Monthly</label>

                <label for="tab-two" id="tab-two-label" class="tab">Annually</label>

            </div>
    
            <div class="tab-panel">

                <div id="tab-one-panel" class="panel active">

                    <div class="h3">Subscription</div>

                    <div class="h2">The climate solution accessible to all</div>

                    <div class="cardS">

                        <div class="card-onE">

                            <div class="card-toP">Starter</div>

                            <hr class="hR">

                            <div class="card-texT">For small businessses that only want their carbon footprint report.</div>

                            <ul class="card-lisT">

                                <li>Self onboarding</li>
                                
                                <li>Interactive dashboards</li>

                                <li>Audited GHG - Protocol emissions calculations</li>

                                <li>Emission hotspot analysis</li>

                                <li>Offsets marketplace</li>

                                <li>Multiple integration options(API, batch, file upload) to use Peercarbon</li>

                                <li>3 users</li>

                                <li>Online support</li>

                            </ul>

                            <div class="card-pricE"><span>$99</span> per month</div>

                            <div class="btN">Free Trial 1 Month</div>

                        </div>

                        <div class="card-onE">

                            <div class="card-toP">Corporate</div>

                            <hr class="hR">

                            <div class="card-texT">For larger businessses that only want their value chain sustainability.</div>

                            <ul class="card-lisT">

                                <li>Everything starter</li>

                                <li>Live onboarding assistance</li>

                                <li>Dedicated climate report</li>

                                <li>Unlimited users</li>

                                <li>Employee trainings</li>

                                <li>Programmatic offsetting</li>

                                <li>Action plans library</li>

                                <li>Communication package</li>

                                <li>Suppliers Ratings</li>

                                <li>Green Supply chain financing e.g early invoicing</li>

                            </ul>

                            <div class="card-pricE"><span>$650</span> per month</div>

                            <div class="btN">Book a Demo</div>

                        </div>

                        <div class="card-onE">

                            <div class="card-toP">Custom Enterprise</div>

                            <hr class="hR">

                            <div class="card-texT">For companies requiring tailored solutions for industry verticlas, premium features and highest level of support.</div>

                            <ul class="card-lisT">

                                <li>Everything in corporate</li>

                                <li>Activity based & Spend based</li>

                                <li>Options on demand</li>

                            </ul>

                            <div class="card-pricE"><span>$****</span> per month</div>

                            <div class="btN">Schedule a call</div>

                        </div>

                    </div>

                  </div>

                  <div id="tab-two-panel" class="panel">

                    <div class="h3">Subscription</div>

                    <div class="h2">The climate solution accessible to all</div>

                    <div class="cardS">

                        <div class="card-onE">

                            <div class="card-toP">Starter</div>

                            <hr class="hR">

                            <div class="card-texT">For small businessses that only want their carbon footprint report.</div>

                            <ul class="card-lisT">

                                <li>Self onboarding</li>

                                <li>Interactive dashboards</li>

                                <li>Audited GHG - Protocol emissions calculations</li>

                                <li>Emission hotspot analysis</li>

                                <li>Offsets marketplace</li>

                                <li>Multiple integration options(API, batch, file upload) to use Peercarbon</li>

                                <li>3 users</li>

                                <li>Online support</li>

                            </ul>

                            <div class="card-pricE"><span>$10540</span> per year</div>

                            <div class="btN">Free Trial 1 Month</div>

                        </div>

                        <div class="card-onE">

                            <div class="card-toP">Corporate</div>

                            <hr class="hR">

                            <div class="card-texT">For larger businessses that only want their value chain sustainability.</div>

                            <ul class="card-lisT">

                                <li>Everything starter</li>

                                <li>Live onboarding assistance</li>

                                <li>Dedicated climate report</li>

                                <li>Unlimited users</li>

                                <li>Employee trainings</li>

                                <li>Programmatic offsetting</li>

                                <li>Action plans library</li>

                                <li>Communication package</li>

                                <li>Suppliers Ratings</li>

                                <li>Green Supply chain financing e.g early invoicing</li>

                            </ul>

                            <div class="card-pricE"><span>$12500</span> per year</div>

                            <div class="btN">Book a Demo</div>
                        </div>

                        <div class="card-onE">

                            <div class="card-toP">Custom Enterprise</div>

                            <hr class="hR">

                            <div class="card-texT">For companies requiring tailored solutions for industry verticlas, premium features and highest level of support.</div>

                            <ul class="card-lisT">

                                <li>Everything in corporate</li>

                                <li>Activity based & Spend based</li>

                                <li>Options on demand</li>

                            </ul>

                            <div class="card-pricE"><span>$****</span> per year</div>

                            <div class="btN">Schedule a call</div>
                            
                        </div>

                    </div>

                  </div>

            </div>
            
        </div>
    
    </div>

</div>

<app-footer></app-footer>