@media only screen and (max-width: 500px){
    .title{
        font-size: 26px;
        line-height: 130%;
    }

    .para{
        font-size: 14px;
    }

    .feat{
        margin: 15% 0;
    }

    .block{
        margin-bottom: 10%;
    }
}