.pop-uP{

    width: 969px;

    height: 597.029px;

    border-radius: 20px;

    margin: 5% 15%;

    background: var(--neutral-1, #FFF);


   
}

.popup-contenT{

    margin: 0 10%;

    text-align: center;

    justify-content: center;

    align-items: center;

}

.closE{

    padding: 15px 80%; 
}

.logO{

    margin-left: 30%;

}

.connecteD{

    color: var(--secondary-colour, #34B206);

    text-align: center;

    font-size: 26px;

    font-style: normal;

    font-weight: 600;

    padding-top: 70px;

    padding-bottom: 50px;

    line-height: normal;

    margin-left: 23%;

    width: 50%;
}

.abouT{
    color: var(--neutral-2, #000);

    text-align: center;

    font-size: 22px;

    font-style: normal;

    font-weight: 400;

    line-height: normal;

    padding-bottom: 30px;

    // width: 90%;

    margin-left: 105;

}

.btnS{
    display: flex;

    width: 773.637px;

    height: 57.046px;

    padding: 13px 38%;

    // justify-content: center;

    // align-items: center;

    border-radius: 14px;

    background: var(--neutral-2, #000);

    color: #FFF;

    // text-align: center !important;

    font-size: 24px;

    font-style: normal;

    font-weight: 500;

    line-height: normal;

    margin-bottom: 1%;;

}

.twO{

    text-decoration: underline;
}