<!-- DETAIL VISUALISATION -->
<div *ngIf="!openForm">
    <a (click)="openFormAction()" href="">To update</a>
    <h2>{{selectedCard.title}}</h2>
    <hr>
    <p>{{selectedCard.content}}</p>
  </div>
  
  <!-- DETAIL EDITION -->
  <form *ngIf="openForm" [formGroup]="cardForm" (ngSubmit)="updateCardAction(cardForm)">
    
    <div>
      <a (click)="closeFormAction()" href="#">Cancel</a>
    </div>
    
    <div *ngIf="cardForm.invalid" class="alert error">Correct the mistakes</div>
  
     <input formControlName="id" type="hidden">
  
    <!-- cardForm.title -->
    <label>Name</label>
    <input formControlName="title" type="">
    <p *ngIf="cardForm.get('title').hasError('required')" class="error">
        Card name required
    </p>
  
    <!-- cardForm.content -->
    <label>Content</label>
    <textarea formControlName="content" cols="" rows=""></textarea>
    <p *ngIf="cardForm.get('content').hasError('minlength')" class="error">
      Minimum 5 characters
    </p>
    <!-- cardForm.priority -->
    <label>Priority</label>
    <select formControlName="priority" >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  
    <div class="form-button">
      <button type="submit">To update</button>
    </div>
  
  </form>
  
   