.modal-btN{

    margin: 2% 5%;

    width: 308px;

    height: 106px;border-radius: 15px;

    border: 1px solid #000;

    background: #F7F9FC;

}

.contenT{

    display: flex;

    gap: 50px;

    align-items: center;

}

.headeR{
    color: #000;

    font-size: 14px;

    font-style: normal;

    font-weight: 700;

    line-height: 26px; 
}




