
.fulL{

    // margin: 2% 5%;

}

.card-titlE{

    padding: 5px 0;

    color: #000;

    font-size: 13px;

    font-style: normal;

    font-weight: 600;

    line-height: 22px; 
}

.card-contenT{
    // margin: 20px 20px;
}

.carD{

    width: 355px;

    height: 458px;

    border-radius: 20px;

    opacity: 0.800000011920929;

    background: #D9D9D9;

  
}

.headeR{

    color: #000;

    font-size: 13px;

    font-style: normal;

    font-weight: 400;

    line-height: 22px; 

    margin-left: 57%;

    padding: 10px 0;
}

.maP iframe{

    width: 310px;

    height: 346px;

    border-radius: 12px;

    margin: 0  20px;

}

.coveragE{
    
    margin-top: 6%;

    padding: 0 20px;

    display: flex;

    gap: 150px;

}

.texT{
    color: #000;

    font-size: 13px;

    font-style: normal;

    font-weight: 400;

    line-height: 22px; 
}

.iconS{

    display: flex;

    gap: 1px;
}

