.container{

    margin-left: 5rem;

    width: 60%;
    
}

.containeR{

    width: 100%;

    display: flex;

}

.lefT{

    width: 60%;

}

.righT{

    width: 40%;

}

.conT{
    margin-left: 7rem;
}