.flexx{
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 150px;
}

.dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-button {
    display: flex;
    width: 400px;
    color: var(--black-2, #ABAFB1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: var(--input-default-background, rgba(239, 241, 249, 0.60));
    border: none ;
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 250px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--input-default-background, rgba(239, 241, 249));
    min-width: 400px; 
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    padding: 5px 14px;
    text-decoration: none;
    display: block;
    color: var(--black-2, #ABAFB1);
  }

  .dropdown-content a:hover {
    background-color: #fff;
  }

  .table-row{
    display: flex;
    width: 100%;
    gap: 40px;
  }

  .color{
    display: flex;
    width: 70%;
    gap: 10px;
  }

  .number{
    width: 30%;
  }