<div class="grid grid-cols-2 gap-4">
  <div>
    <div class=" padD text-black font-bold text-base">Complete Your Order</div>
    <div class="rounded bg-white shadow-md p-5 text-base">
      <div>Impact Details</div>
      <div class="grid grid-cols-2 mt-2">
        <div class="flex gap-3">
          <div><img src="/assets/images/dollars.svg" class="h-12" /></div>
          <div>
            <div>Amount</div>
            <div class="font-bold">100.00t</div>
          </div>
        </div>
        <div><img src="/assets/images/edit.svg" class="h-12" /></div>
      </div>
      <div class="grid grid-cols-2 mt-12">
        <div>Billing Details</div>
        <div class="flex gap-3">
          <img src="/assets/images/visa.svg" alt="" class="h-4" />
          <div class="color_primary_green text-sm">Change mode of payment</div>
        </div>
      </div>
      <div class="grid grid-cols-2 mt-6">
        <div>Account No</div>
        <div>xxxxxxxxxxx23567</div>
      </div>
      <div class="border border-green-500"></div>
      <div class="grid grid-cols-2 mt-6">
        <div>Subtotal</div>
        <div>$5000.00</div>
      </div>
      <div class="grid grid-cols-2 mt-6">
        <div>PeerCarbon Fee</div>
        <div>$450.00</div>
      </div>
      <div class="border border-green-500 mt-6"></div>
      <div class="grid grid-cols-2 mt-6">
        <div class="font-bold">Total</div>
        <div class="font-bold">$5740.00</div>
      </div>
      <div class="mt-6">
        <button class="btn text-white bg-black px-4 py-2 rounded">
          Place your order
        </button>
      </div>
    </div>
  </div>

  <div>
    <div class=" padD text-black font-bold text-base">Basket</div>
    <div class="border rounded bg-white p-2 text-sm">
      <div class="grid grid-cols-2 gap-3">
        <div >
          <img src="/assets/images/cooking_image.svg" alt="" />
        </div>
        <div class="mt-3">
          <div class="flex justify-between">
            <div></div>
            <div>
              <img src="/assets/images/delete.svg" alt="" class="flex justify-end"/>
            </div>
          </div>
          <div class="flex justify-between">
            <div class="color_primary_green font-bold">Makoko Mangroove</div>
            <div class="color_primary_green font-bold">120t</div>
          </div>
          <div class="mt-3">Sequestering CO2 through Mangroove Forestry in Kenyan Coast</div>
          <div class="mt-3 flex justify-between">            
            <button class="btn text-white bg-black px-4 py-2 rounded">
              Learn More
            </button>
            <button class="btn text-white bg-black px-4 py-2 rounded">
              Place your order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
