<div class="containeR">

<div class="headeR"> Project Details</div>

<div class="linE"> <hr> </div>

<div class="flexeD">

    <div class="onE">

        <div class="texT">Project Code</div>

        <div class="texT onE"> VCS-004</div>

        <div class="texT">Available Vintages</div>

        <div class="texT onE">2017 - 2023</div>

    </div>

    <div class="onE">

        <div class="texT">Project Code</div>

        <div class="texT onE">Kenya</div>

        <div class="texT">Scale</div>

        <div class="texT onE">5,000Stoves</div>

    </div>

    <div class="onE">

        <div class="texT">Project Code</div>

        <div class="texT onE">CCA</div>

        <div class="texT">Developer</div>

        <div class="texT onE">Clean Cooking Alliance</div>

    </div>

</div>

</div>