.topiC{

    color: #000;

    font-size: 28px;

    margin-left: 5%;

    margin-top: 2%;

    font-style: normal;

    font-weight: 600;

    line-height: 26px; /* 81.25% */

}

.tabs-headeR{

    margin-left: 5%;
}

.containeR{
    width: 120%;

    margin-top: 5%;

    margin-bottom: 5%;

    display: flex;

    gap: 80px;

}
.carD{

    width: 500px;

    height: 120px;

    border-radius: 15px;

    background: #FFF;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;

    gap: 30px;

    padding-top: 20px;

    padding-left: 35px;

}

.valuE{

    padding-top: 15px;
}

.onE .toP{

    padding-top: 14.9px;
}

.wiDE{

    gap: 35px;
}
.onE{

    padding-top: 8px;
}


.reductioN{

    display: flex;

    gap: 10px;

}

.headeR{

    color: #808080;

    font-size: 12px;

    font-style: normal;

    font-weight: 400;

    line-height: normal;

    letter-spacing: 0.6px;

    padding-bottom: 5px;
}

.fleX{

    display: flex;

    gap: 10px;
}

.valuE{

    color: #000;

    font-size: 16px;

    font-style: normal;

    font-weight: 600;

    line-height: normal;

    letter-spacing: 0.8px;

    padding-bottom: 5px;
}

.text-onE{

    color: grey;

    font-size: 8px;

    font-style: normal;

    font-weight: 400;

    line-height: normal;

    letter-spacing: 0.4px;
}
