<div
  class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
>
  <div class="md:flex">
    <div class="md:shrink-0">
      <img
        class="xl:h-48 w-full object-cover md:h-full md:w-48"
        src="{{ portfolio.photos[0]?.url }}"
        *ngIf="portfolio.photos[0]?.url !== null; else defaultImage"
        alt="project Image"
      />
      <ng-template #defaultImage>
        <img
          class="xl:h-48 w-full object-cover md:h-full md:w-48"
          src="/assets/images/Project Logo.png"
          alt="Default Image"
        />
      </ng-template>
    </div>
    <div class="px-6 py-5">
      <div
        class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
      >
        {{ portfolio.name | uppercase }}
      </div>
      <div class="more-details flex gap-[6px]">
        <div class="left block w-[60%]">
          <div class="flex gap-[6px] my-2">
            <div class="icon">
              <img
                class="w-[16px] h-[16px]"
                src="/assets/images/location.svg"
                alt=""
              />
            </div>
            <div
              class="color_primary_green text-[12px] font-[300] leading-[150%]"
            >
              {{ portfolio.country }}
            </div>
          </div>
          <div class="flex gap-[6px]">
            <div class="icon">
              <img
                class="w-[16px] h-[16px]"
                src="/assets/images/location.svg"
                alt=""
              />
            </div>
            <div
              class="color_primary_green text-[12px] font-[300] leading-[150%]"
            >
              {{ portfolio.state }}
            </div>
          </div>
        </div>
        <div class="right block w-[40%]">
          <div class="color_primary_green my-2">Certificate</div>
          <div class="button">
            <button
              class="text-[10px] font-[400] leading-[150%] text-[#fff] bg-[#5E896E] rounded-[12px] p-2"
              (click)="buyOffset(portfolio.id)"
            >
              Buy Offset
            </button>
          </div>
        </div>
      </div>
      <div
        class="credits-available my-2 text-[#A7B3A7] text-[10px] font-[400] leading-[150%]"
      >
        20,0056 Carbon credit available
      </div>
      <div class="progress-bar">
        <mat-progress-bar
          color="primary"
          mode="determinate"
          value="40"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
