  <div class="bg-imagE md:grid lg:grid  xl:grid grid-cols-2 xl:py-16">
    <div class="lefT items-center justify-center">
      <img class="login-logO" src="/assets/images/saaslogo.png">
      <div class="login-texT">Saastain goes beyond conventional solutions, empowering you to not only navigate the complexities of emissions tracking but also to drive sustainable growth.</div>
    </div>
    <div class="righT">
      <div class="explaineR">Enter your registered email address.We'll send you  instructions  to reset your password.</div>
      <form
      class="forM"
      autocomplete="off"
      [formGroup]="resetPasswordFormGroup"
      (submit)="validateForm()">
        <div class="inpuT">
          <div class="sociaL unO">
            <img src="/assets/images/mail.svg">
          </div>
          <div class="fielD doS">
            <div class="labeL ">Email</div>
            <input type="email" formControlName="email" autocomplete="false" class="inneRR " placeholder="Your Email" />
          </div>
        </div>
        <div class="passworD">
          <div class="buttoN" *ngIf="!isLoading">
            <button type="submit" class="securitybtN">
              Send Reset Email
            </button>
          </div>
          <div class="loadeR" *ngIf="isLoading">
            <div class="loader-componenT">
                <app-loader></app-loader>
            </div>
          </div>
        </div>
        <div class="sign-uP">Have Account? <a routerLink="/auth" class="linK">Sign In</a></div>
      </form>
    </div>
  </div>